{% extends 'shop/basic.html' %}
{% block title%}Everything About Us{% endblock %}
{% block body %}
<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Our Store!</h1>
      <p>This store has been built by us,Janvi and Tanvi of EXTC branch in summer vacations.This store consists of all the useful items that a Fresher that is a student studying in first semester or ssecond semester may equire ranging from books to lab coats,boiler suit and other essentials like calculator etc .
      Shown here on the site are various products given by second year students and other year students items like books,notes etc that can be useful for freshers at minimal cost.
      By checking out after getting items required by you added into the cart,The order status reaches the admin and final transaction can be made by admin itself or any other by contacting you using the phone numbrer or email given here.And so it can reach you easily.
      Plus you have got various options regarding which book to choose etc.</p>
      <p>There are also some references present on this site other than your regular books which may help you.For that you have to go on Others button on the nabvigation bar.Thank You.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Janvi</h2>
        <p> Btech SY EXTC  </p>
      </div>

      <div class="col-md-4">
        <h2>Tanvi</h2>
        <p> Btech SY EXTc</p>
      </div>
    </div>

    <hr>

  </div>
</main>
{% endblock %}