{% extends 'shop/basic.html' %}
{% load static %}
{% block title%}Everything About Us{% endblock %}
{% block body %}


<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h3 class="display-3">A place for other references!</h3>
        <br>

      <h3 class="display-7">Graphics video lectures below:</h3>
        <p><a class="btn btn-success btn-lg" href="https://www.youtube.com/watch?v=WG6H2pISUzQ&list=PLIhUrsYr8yHwDUrVYmUNYkEeZgZTvoIfS" role="button">Learn more »</a></p>

      <h3 class="display-7">Mechanics video lectures link below !</h3>
        <p><a class="btn btn-success btn-lg" href="https://www.youtube.com/watch?v=Z4WN2Z9okfs&list=PLIhUrsYr8yHxfOmcGIeUThHEr9lQ3IXRS" role="button">Learn more »</a></p>

      <h3 class="display-7">C++ topic by topic.Link given below:</h3>
        <p><a class="btn btn-success btn-lg" href="https://www.geeksforgeeks.org/c-plus-plus/" role="button">Learn more »</a></p>

      <h3 class="display-7">For BEE video lectures by Udemy ,Click on the button below.</h3>
      <p><a class="btn btn-success btn-lg" href="https://www.udemy.com/thevenins-and-nortons-equivalent-circuits-a-problem-solving-approach/" role="button">Learn more »</a></p>

    </div>
  </div>
</main>

<style>
    body
    {
    background:url('{% static "shop/picture/bg.jpg" %}') no-repeat center center fixed;
    background-size:cover;
    }
</style>

{% endblock %}